<template>
  <div>
    <br />
    <br />
    <b-row>
      <b-col>
        <b-button
          block
          variant="outline-primary"
          @click="getAssignmentsByDay(1)"
          >Sunday</b-button
        >
      </b-col>
      <b-col>
        <b-button
          block
          variant="outline-secondary"
          @click="getAssignmentsByDay(2)"
          >Monday</b-button
        >
      </b-col>
      <b-col>
        <b-button
          block
          variant="outline-success"
          @click="getAssignmentsByDay(3)"
          >Tuesday</b-button
        >
      </b-col>
      <b-col>
        <b-button block variant="outline-danger" @click="getAssignmentsByDay(4)"
          >Wednesday</b-button
        >
      </b-col>
      <b-col>
        <b-button
          block
          variant="outline-warning"
          @click="getAssignmentsByDay(5)"
          >Thursday</b-button
        >
      </b-col>
      <b-col>
        <b-button block variant="outline-info" @click="getAssignmentsByDay(6)"
          >Friday</b-button
        >
      </b-col>
      <b-col>
        <b-button block variant="outline-dark" @click="getAssignmentsByDay(7)"
          >Saturday</b-button
        >
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <br />
        <h3>To Do List | {{ currentDay.dayName || "" }}</h3>
        <br />
        <b-list-group
          v-for="assignment in assignmentsByDay.data"
          :key="assignment.id"
        >
          <b-list-group-item
            class="d-flex justify-content-between align-items-center"
          >
            Task: {{ assignment.titleAssignment }}
            <br />
            Citizen: {{ assignment.fullNameCitizen }}
            <br />
            Day: {{ assignment.dayName }}
            <b-badge variant="info" pill> {{ assignment.status }}</b-badge>
            <b-button-toolbar key-nav aria-label="Toolbar with button groups">
              <b-button-group class="mx-1">
                <b-button
                  variant="success"
                  @click="markAsCompleted(assignment)"
                  v-if="assignment.status == 'PENDING'"
                  >Mark as complete</b-button
                >
                <b-button
                  variant="danger"
                  @click="deleteAssignment(assignment.id, assignment.dayId)"
                  v-if="assignment.status == 'PENDING'"
                  >Delete</b-button
                >
              </b-button-group>
            </b-button-toolbar>
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      assignmentsByDay: [],
      currentDay: {},
    };
  },
  methods: {
    getAssignmentsByDay(day) {
      var url = "https://localhost:5021/api/AssignmentsByCitizens/" + day;

      this.$axios.get(url).then((response) => {
        this.assignmentsByDay = response.data;
        this.currentDay = {
          id: response.data.data[0].dayId,
          dayName: response.data.data[0].dayName,
        };
      });
    },
    getCurrentday() {
      const today = new Date();
      const currentDate =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate();
      debugger;
      var url = "https://localhost:5021/api/Days/" + currentDate;
      this.$axios.get(url).then((response) => {
        this.currentDay = response.data.data;
        this.getAssignmentsByDay(response.data.data.id);
      });
    },
    deleteAssignment(id, dayId) {
      var url = "https://localhost:5021/api/AssignmentsByCitizens/" + id;
      this.$axios.delete(url).then((response) => {
        if (response.status === 200) {
          this.getAssignmentsByDay(dayId);
        }
      });
    },
    markAsCompleted(assignment) {
      assignment.status = "COMPLETED";
      var url =
        "https://localhost:5021/api/AssignmentsByCitizens/" + assignment;
      this.$axios.put(url).then((response) => {
        if (response.status === 200) {
          this.getAssignmentsByDay(dayId);
        }
      });
    },
  },
  created() {
    this.getCurrentday();
  },
};
</script>

<style scoped>
</style>