<template>
  <div>
    <br />
    <br />
    <b-card
      bg-variant="warning"
      text-variant="white"
      class="text-center"
      @click="showModal"
      title="Tasks"
       v-b-popover.hover.top="'Click on me to see and register more tasks'"
    >
    </b-card>
    <b-modal ref="my-modal" hide-footer title="Tasks">
      <div class="d-block">
        <b-list-group
          v-for="assignment in assignments.data"
          :key="assignment.id"
        >
          <b-list-group-item
            class="d-flex justify-content-between align-items-center"
          >
            {{ assignment.title }}
            <br />
            {{ assignment.description }}
            <b-button-toolbar key-nav aria-label="Toolbar with button groups">
              <b-button-group class="mx-1">
                <b-button @click="updateAssignment(assignment)">Edit</b-button>
                <b-button
                  variant="danger"
                  @click="deleteAssignment(assignment.id)"
                  >Delete</b-button
                >
              </b-button-group>
            </b-button-toolbar>
          </b-list-group-item>
        </b-list-group>
      </div>
      <b-button class="mt-3" variant="info" block @click="showNewModal(false)"
        >New</b-button
      >
      <b-button
        class="mt-3"
        variant="outline-secondary"
        block
        @click="hideModal"
        >Back</b-button
      >
    </b-modal>
    <b-modal ref="new-modal" hide-footer title="New Assignment">
      <div class="d-block text-center">
        <div>
          <b-form-input
            placeholder="Title"
            v-model="assignment.title"
          ></b-form-input>
          <br />
          <b-form-input
            placeholder="Description"
            v-model="assignment.description"
          ></b-form-input>
        </div>
      </div>
      <b-button class="mt-3" variant="success" block @click="saveAssignment"
        >Save</b-button
      >
      <b-button
        class="mt-3"
        variant="outline-secondary"
        block
        @click="hideNewModal"
        >Back</b-button
      >
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      assignments: [],
      assignment: {},
    };
  },
  methods: {
    showModal() {
      this.getAllAssignments();
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    showNewModal(isupdate) {
      if (!isupdate) {
        this.assignment = {};
      }
      this.$refs["new-modal"].show();
    },
    hideNewModal() {
      this.$refs["new-modal"].hide();
    },
    getAllAssignments() {
      this.$axios
        .get("https://localhost:5021/api/Assignments")
        .then((response) => {
          this.assignments = response.data;
        });
    },
    saveAssignment() {
      if (this.assignment.id !== undefined) {
        this.$axios
          .put("https://localhost:5021/api/Assignments", this.assignment)
          .then((response) => {
            if (response.status === 200) {
              this.getAllAssignments();
              this.hideNewModal();
            }
          });
        return;
      }
      var request = {
        title: this.assignment.title,
        description: this.assignment.description,
      };

      this.$axios
        .post("https://localhost:5021/api/Assignments", request)
        .then((response) => {
          if (response.status === 200) {
            this.getAllAssignments();
            this.hideNewModal();
          }
        });
    },
    deleteAssignment(id) {
      var url = "https://localhost:5021/api/Assignments/" + id;
      this.$axios.delete(url).then((response) => {
        if (response.status === 200) {
          this.getAllAssignments();
        }
      });
    },
    updateAssignment(assignment) {
      this.assignment = assignment;
      this.showNewModal(true);
    },
  },
};
</script>

<style scoped>
</style>