<template>
  <div>
    <br />
    <br />
    <b-card
      bg-variant="info"
      text-variant="white"
      title="Tasks by Citizens"
      class="text-center"
      @click="showModal"
       v-b-popover.hover.top="'Click on me to register more tasks to citizens'"
    >
    </b-card>
    <b-modal ref="my-modal" hide-footer title="Tasks by Citizens" size="xl">
      <b-container>
        <b-row>
          <b-col>
            Select a Citizen
            <div class="d-block text-center">
              <b-list-group v-for="citizen in citizens.data" :key="citizen.id">
                <b-list-group-item
                  class="d-flex justify-content-between align-items-center"
                >
                  <b-form-checkbox v-model="citizen.selected">
                    {{ citizen.firstName }}
                    {{ citizen.lastName }}</b-form-checkbox
                  >
                </b-list-group-item>
              </b-list-group>
            </div>
          </b-col>
          <b-col>
            Select an Assignment
            <div class="d-block text-center">
              <b-list-group
                v-for="assignment in assignments.data"
                :key="assignment.id"
              >
                <b-list-group-item
                  class="d-flex justify-content-between align-items-center"
                >
                  <b-form-checkbox v-model="assignment.selected">
                    {{ assignment.title }}</b-form-checkbox
                  >
                </b-list-group-item>
              </b-list-group>
            </div>
          </b-col>
          <b-col>
            Days
            <div class="d-block text-center">
              <b-list-group v-for="day in days.data" :key="day.id">
                <b-list-group-item
                  variant="warning"
                  class="d-flex justify-content-between align-items-center"
                >
                  <b-form-checkbox v-model="day.selected">
                    {{ day.dayName }}</b-form-checkbox
                  >
                </b-list-group-item>
              </b-list-group>
            </div>
          </b-col>
        </b-row>
      </b-container>

      <b-button class="mt-3" variant="success" block @click="save"
        >Save</b-button
      >
      <b-button
        class="mt-3"
        variant="outline-secondary"
        block
        @click="hideModal"
        >Back</b-button
      >
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      citizens: [],
      citizen: {},
      assignments: [],
      asignment: {},
      days: [],
      day: {},
    };
  },
  methods: {
    showModal() {
      this.getAllCitizens();
      this.getAllAssignments();
      this.getAllDays();
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    getAllCitizens() {
      this.$axios
        .get("https://localhost:5021/api/Citizens")
        .then((response) => {
          this.citizens = response.data;
        });
    },
    getAllAssignments() {
      this.$axios
        .get("https://localhost:5021/api/Assignments")
        .then((response) => {
          this.assignments = response.data;
        });
    },
    getAllDays() {
      this.$axios.get("https://localhost:5021/api/Days").then((response) => {
        this.days = response.data;
      });
    },
    save() {
      const selectedCitizens = this.citizens.data.filter((x) => {
        return x.selected === true;
      });
      const selectedAssignments = this.assignments.data.filter((x) => {
        return x.selected === true;
      });
      const selectedDays = this.days.data.filter((x) => {
        return x.selected === true;
      });

      var assignmenstByCitizens = [];

      selectedCitizens.forEach((x) => {
        selectedAssignments.forEach((y) => {
          selectedDays.forEach((z) => {
            const request = {
              citizenId: x.id,
              assigmentId: y.id,
              day: z.id,
            };

            assignmenstByCitizens.push(request);
            debugger;
            this.$axios
              .post(
                "https://localhost:5021/api/AssignmentsByCitizens",
                request
              )
              .then((response) => {
              });
          });
        });
        this.hideModal();
        return;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>