<template>
  <div>
    <br />
    <br />
    <b-card
      bg-variant="success"
      text-variant="white"
      class="text-center"
      @click="showModal"
      title="Citizens"
      v-b-popover.hover.top="'Click on me to see and register more citizens'"
    >
    </b-card>

    <b-modal ref="my-modal" hide-footer title="Citizens">
      <div class="d-block text-center">
        <b-list-group v-for="citizen in citizens.data" :key="citizen.id">
          <b-list-group-item
            class="d-flex justify-content-between align-items-center"
          >
            {{ citizen.firstName }} {{ citizen.lastName }}
            <b-button-toolbar key-nav aria-label="Toolbar with button groups">
              <b-button-group class="mx-1">
                <b-button @click="updateCitizen(citizen)">Edit</b-button>
                <b-button variant="danger" @click="deleteCitizen(citizen.id)"
                  >Delete</b-button
                >
              </b-button-group>
            </b-button-toolbar>
          </b-list-group-item>
        </b-list-group>
      </div>
      <b-button class="mt-3" variant="info" block @click="showNewModal(false)"
        >New</b-button
      >
      <b-button
        class="mt-3"
        variant="outline-secondary"
        block
        @click="hideModal"
        >Back</b-button
      >
    </b-modal>

    <b-modal ref="new-modal" hide-footer title="New Citizen">
      <div class="d-block text-center">
        <div>
          <b-form-input
            placeholder="First name"
            v-model="citizen.firstName"
          ></b-form-input>
          <br />
          <b-form-input
            placeholder="Last name"
            v-model="citizen.lastName"
          ></b-form-input>
        </div>
      </div>
      <b-button class="mt-3" variant="success" block @click="saveCitizen"
        >Save</b-button
      >
      <b-button
        class="mt-3"
        variant="outline-secondary"
        block
        @click="hideNewModal"
        >Back</b-button
      >
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      citizens: [],
      citizen: {},
    };
  },
  methods: {
    showModal() {
      this.getAllCitizens();
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    showNewModal(isupdate) {
      if (!isupdate) {
        this.citizen = {};
      }
      this.$refs["new-modal"].show();
    },
    hideNewModal() {
      this.$refs["new-modal"].hide();
    },
    getAllCitizens() {
      this.$axios
        .get("https://localhost:5021/api/Citizens")
        .then((response) => {
          this.citizens = response.data;
          console.log(this.citizens);
        });
    },
    saveCitizen() {
      if (this.citizen.id !== undefined) {
        this.$axios
          .put("https://localhost:5021/api/Citizens", this.citizen)
          .then((response) => {
            if (response.status === 200) {
              this.getAllCitizens();
              this.hideNewModal();
            }
          });
        return;
      }
      var request = {
        firstName: this.citizen.firstName,
        lastName: this.citizen.lastName,
      };

      this.$axios
        .post("https://localhost:5021/api/Citizens", request)
        .then((response) => {
          if (response.status === 200) {
            this.getAllCitizens();
            this.hideNewModal();
          }
        });
    },
    deleteCitizen(id) {
      var url = "https://localhost:5021/api/Citizens/" + id;
      this.$axios.delete(url).then((response) => {
        if (response.status === 200) {
          this.getAllCitizens();
        }
      });
    },
    updateCitizen(citizen) {
      this.citizen = citizen;
      this.showNewModal(true);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>