<template>
  <div>
    <b-navbar type="dark" variant="primary">
      <b-navbar-nav align="center">
        <h3>The Eye</h3>
      </b-navbar-nav>
    </b-navbar>
    <b-container>
      <b-row>
        <b-col> <citizens></citizens></b-col>
        <b-col><assignments></assignments></b-col>
        <b-col><assignment-by-citizen></assignment-by-citizen></b-col>
      </b-row>
      <b-row>
        <b-col>
          <asignments-by-citizens-detail></asignments-by-citizens-detail>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import AsignmentsByCitizensDetail from "~/components/asignmentsByCitizensDetail.vue";
import AssignmentByCitizen from "~/components/assignmentByCitizen.vue";
import Assignments from "~/components/assignments.vue";
import citizens from "~/components/citizens.vue";

export default Vue.extend({
  components: {
    citizens,
    Assignments,
    AssignmentByCitizen,
    AsignmentsByCitizensDetail,
  },
});
</script>

<style scope>
</style>
